* {box-sizing: border-box; margin: 0; outline: none; padding: 0; vertical-align: baseline;}

#app {
    color: #2c3e50; font-family: Avenir, Helvetica, Arial, sans-serif; text-align: center;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.header-nav {padding: 30px;}
.header-nav a {color: #2c3e50; font-weight: bold;}
.header-nav a.router-link-exact-active {color: #42b983;}


.id {}
.level, .type {
    background: #ddd; border-radius: 4px; font-size: 11px; margin-right: 5px; padding: 2px 6px;
}
.name {}
.virtual {}
.category {}
